{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/express_medbloger.js" %}"></script>
{% endblock %}

{% block title %}
    Экспресс-разбор медблога
{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static "css/express_medbloger.css" %}">
{% endblock %}

{% block content %}
    <form action="{% url "express_medbloger" %}" method="post">
        {% csrf_token %}
        <div class="form-container">
            <div class="header_image_container">
                <img src="{{ business_form_settings.photo.url }}">
            </div>
            <div class="description_container">
                <div class="description_container_header_cap"></div>
                <div class="description_container_header_container">
                    <div class="description_container_header">
                        <div class="description_container_header_text" dir="auto" role="heading" aria-level="1">
                            Экспресс-разбор медблога
                        </div>
                    </div>
                    <div class="description_container_header_body" dir="auto">
                        Йоу ребят, ВСЕМ ПРИДЭП! 🤪
                        <br><br>
                        Если вы не знаете, с чего начать вести блог или уже ведёте, но есть ряд сложностей (например, не
                        приходят подписчики, не поступают запросы на консультации), то вы по адресу.
                        <br><br>
                        Каждый, кто заполнит эту анкету, получит <b>экспресс-консультацию (мини-разбор) по вашему
                        блогу.</b>
                        Мои кураторы зададут несколько вопросов, подскажут по <b>стратегии продвижения</b> и предложат
                        варианты, чем можем вам помочь.
                        <br><br>
                        Мы занимаемся помощью в развитии медицинских блогов уже <b>более 5 лет</b>, и моя команда
                        разбирается в
                        этом наравне со мной 🤓 Они сами врачи и уже прошли этот путь: зарабатывают с медблогов 100+ тыс
                        руб в месяц и стабильно растут в подписчиках, поэтому вам точно будет полезно пообщаться)
                        <br><br>
                        Время заполнения - 3 минуты
                        <br><br>
                        <i>Красавчиков и красоток, кто ответит на все вопросы, будет ждать жирный <b>приятный бонус</b>
                            от меня в
                            конце 😋🎁</i>
                    </div>
                </div>
            </div>
            <div class="field_list" role="list">
                {% for field in medblogers_form %}
                    {% if field.name == "name" %}
                        <div class="bonus_block">
                            <div class="field_item_container" role="listitem">
                                <div class="field_inline_item_container">
                                    <p><b>🎁 БОНУС</b></p>
                                    <span>Оставьте свои контактные данные, если хотите получить <b>лекцию на выбор из любых моих продуктов 🔥</b></span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="field_item_container" role="listitem">
                        <div class="field_inline_item_container" id="field_inline_item_container_{{ field.name }}">
                            <div class="field_item_label_container">
                                <div class="field_item_label">
                                    <div class="field_item_label_text">
                                        {% if field.name != "policy_agreement" %}
                                            {{ field.label }}
                                        {% else %}
                                            Согласен с
                                            <a href="https://readyschool.ru/politicapers"
                                               target="_blank">политикой обработки персональных данных</a>
                                        {% endif %}
                                        <span class="required_star">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="field_item_input_container">
                                <div class="field_item_input">
                                    <div class="field_item_input_inline">
                                        <div class="input_container {% if field.name == "how_warmed_up" %}full_width{% endif %}">
                                            <div class="radio-button-container">
                                                {% if field.name == "marketing_type" or field.name == "average_income" or field.name == "medblog" %}
                                                    {% for value, label in field.field.choices %}
                                                        <div class="radio-button">
                                                            <input type="radio" class="radio-button__input"
                                                                   id="{{ field.name }}_{{ value }}"
                                                                   name="{{ field.name }}" value="{{ value }}"
                                                                   {% if field.value == value %}checked{% endif %}>

                                                            <label class="radio-button__label"
                                                                   for="{{ field.name }}_{{ value }}">
                                                                <span class="radio-button__custom"></span>
                                                                {{ label }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                {% elif field.name == "have_bought_products" %}
                                                    <div class="radio-button-container">
                                                        <div class="radio-button">
                                                            <input type="radio" class="radio-button__input"
                                                                   id="radio_have_bought_products_no"
                                                                   name="radio-group-1">
                                                            <label class="radio-button__label"
                                                                   for="radio_have_bought_products_no">
                                                                <span class="radio-button__custom"></span>
                                                                Нет
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="radio-button-container">
                                                        <div class="radio-button">
                                                            <input type="radio" class="radio-button__input"
                                                                   id="radio_have_bought_products_another"
                                                                   name="radio-group-1">
                                                            <label class="radio-button__label"
                                                                   for="radio_have_bought_products_another">
                                                                <span class="container_nowrap"><span
                                                                        class="radio-button__custom"></span>
                                                                Другое:</span> {{ field }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                {% elif field.name == "how_warmed_up" %}
                                                    <div class="zero_to_ten_choices_container">
                                                        <div class="left_text">
                                                            <span>А ты точно брендмейкер?</span>
                                                        </div>
                                                        <div class="wrapper_radio-button">
                                                            {% for value, label in field.field.choices %}
                                                                <div class="radio-button">
                                                                    <input type="radio" class="radio-button__input"
                                                                           id="{{ field.name }}_{{ value }}"
                                                                           name="{{ field.name }}" value="{{ value }}"
                                                                           {% if field.value == value %}checked{% endif %}>

                                                                    <label class="radio-button__label radio-button__label_0_10"
                                                                           for="{{ field.name }}_{{ value }}">
                                                                        <span class="count">{{ label }}</span>
                                                                        <span class="radio-button__custom"></span>
                                                                    </label>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="right_text">
                                                            <span>Куда платить?</span>
                                                        </div>
                                                    </div>
                                                {% elif field.name == "rate_of_employment" %}
                                                    <div class="zero_to_ten_choices_container">
                                                        <div class="left_text">
                                                            <span>времени вагон</span>
                                                        </div>
                                                        <div class="wrapper_radio-button">
                                                            {% for value, label in field.field.choices %}
                                                                <div class="radio-button">
                                                                    <input type="radio" class="radio-button__input"
                                                                           id="{{ field.name }}_{{ value }}"
                                                                           name="{{ field.name }}" value="{{ value }}"
                                                                           {% if field.value == value %}checked{% endif %}>

                                                                    <label class="radio-button__label radio-button__label_0_10"
                                                                           for="{{ field.name }}_{{ value }}">
                                                                        <span class="count">{{ label }}</span>
                                                                        <span class="radio-button__custom"></span>
                                                                    </label>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="right_text">
                                                            <span>вообще не до обучений, начать бы ЖИТЬ</span>
                                                        </div>
                                                    </div>
                                                {% elif field.name == "policy_agreement" %}
                                                    {{ field }}
                                                    <div class="radio-button-container">
                                                        <div class="radio-button">
                                                            <input type="radio" class="radio-button__input" id="radio"
                                                                   name="radio-group">
                                                            <label class="radio-button__label" for="radio">
                                                                <span class="radio-button__custom"></span>
                                                                да
                                                            </label>
                                                        </div>
                                                    </div>
                                                {% elif 'auto-resize-textarea' in field.field.widget.attrs.class %}
                                                    <div class="textarea-with-underline">
                                                        {{ field }}
                                                        <div class="underline"></div>
                                                    </div>
                                                {% else %}
                                                    {{ field }}
                                                {% endif %}
                                                <div class="line"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field_item_warning_container">
                                <div class="field_item_warning">
                                    <img src="{% static "img/warning.svg" %}">
                                    <span class="warning_text">Это обязательный вопрос.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="buttons_container">
                <div class="buttons_inline_container">
                    <div class="submit_container">
                        <div class="submit_button" role="button">
                        <span class="submit_text_container">
                            <span class="submit_text">
                                Отправить
                            </span>
                        </span>
                        </div>
                    </div>
                    <div class="clear_container">
                        <div class="clear_inline_container" role="button">
                            <span class="clear_button">
                                <span class="clear_button_text">Очистить форму</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}