{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/medblogers_pre_entry.js" %}"></script>
{% endblock %}

{% block title %}
    Фейс-контроль клуба
{% endblock %}

{% block extra_links %}
{% endblock %}

{% block content %}
    <form action="{% url "medblogers_form" %}" method="post">
        {% csrf_token %}
        <div class="form-container">
            <div class="header_image_container">
                <img src="{{ business_form_settings.photo.url }}">
            </div>
            <div class="description_container">
                <div class="description_container_header_cap"></div>
                <div class="description_container_header_container">
                    <div class="description_container_header">
                        <div class="description_container_header_text" dir="auto" role="heading" aria-level="1">
                            Приветствуем вас на
                            фейс-контроле в клубе врачей-блогеров MEDBLOGERS! 😁
                        </div>
                    </div>
                    <div class="description_container_header_body" dir="auto">Вход в клуб открывается по 15-ым числам
                        каждого месяца. Чтобы не
                        пропустить ближайшее открытие, вы можете заполнить форму предзаписи. А мы напомним вам аккурат в
                        день старта)<br><br>P.S. коллеги часто пропускают дедлайн, а потом целый месяц кусают локти.
                        Заполнив анкету, вы точно не пропустите открытие клуба 😉<br><br>Сайт клуба - <a
                                href="https://medblogers.ru" target="_blank">https://medblogers.ru</a>
                    </div>
                </div>
            </div>
            <div class="field_list" role="list">
                {% for field in medblogers_form %}
                    <div class="field_item_container" role="listitem">
                        <div class="field_inline_item_container">
                            <div class="field_item_label_container">
                                <div class="field_item_label">
                                    <div class="field_item_label_text">
                                        {% if field.name != "policy_agreement" %}
                                            {{ field.label }}
                                        {% else %}
                                            Согласен с
                                            <a href="https://readyschool.ru/politicapers"
                                               target="_blank">политикой обработки персональных данных</a>
                                        {% endif %}
                                        <span class="required_star">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="field_item_input_container">
                                <div class="field_item_input">
                                    <div class="field_item_input_inline">
                                        <div class="input_container">
                                            {% if field.name != "policy_agreement" %}
                                                {{ field }}
                                            {% else %}
                                                {{ field }}
                                                <div class="radio-button-container">
                                                    <div class="radio-button">
                                                        <input type="radio" class="radio-button__input" id="radio" name="radio-group">
                                                        <label class="radio-button__label" for="radio">
                                                            <span class="radio-button__custom"></span>
                                                             да
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field_item_warning_container">
                                <div class="field_item_warning">
                                    <img src="{% static "img/warning.svg" %}">
                                    <span class="warning_text">Это обязательный вопрос.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="buttons_container">
                <div class="buttons_inline_container">
                    <div class="submit_container">
                        <div class="submit_button" role="button">
                        <span class="submit_text_container">
                            <span class="submit_text">
                                Отправить
                            </span>
                        </span>
                        </div>
                    </div>
                    <div class="clear_container">
                        <div class="clear_inline_container" role="button">
                            <span class="clear_button">
                                <span class="clear_button_text">Очистить форму</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}