{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/medblogers_pre_entry.js" %}"></script>
{% endblock %}

{% block title %}
    Нейросети для медблога 🔥
{% endblock %}

{% block extra_links %}
{% endblock %}

{% block content %}
    <form action="{% url "neuro_medbloger" %}" method="post">
        {% csrf_token %}
        <div class="form-container">
            <div class="header_image_container">
                <img src="{{ business_form_settings.photo.url }}">
            </div>
            <div class="description_container">
                <div class="description_container_header_cap"></div>
                <div class="description_container_header_container">
                    <div class="description_container_header">
                        <div class="description_container_header_text" dir="auto" role="heading" aria-level="1">
                            Предзапись на интенсив Нейросети для медблога 🔥
                        </div>
                    </div>
                    <div class="description_container_header_body" dir="auto">
                        Всем ПРИДЭП! <b>30 июня 2025 года</b> стартует наш первый интенсив по нейросетям для
                        врачей-блогеров.
                        <br><br>
                        Мы разработали <b>8 кастомных ботов</b>, последовательно внедряя которые, вы <b>снизите время на
                        производство контента с 1 часа до 10 минут</b> (проверено тестовой группой на моём
                        наставничестве).
                        <br><br>
                        И нет, это не большое месячное обучение. Интенсив идёт <b>7 дней</b>, за которые вы посмотрите
                        <b>8
                            видеоинструкций по 10 минут</b>, повторите за видео и получите готовый медицинский контент.
                        <br><br>
                        <i>Мы экономим ваше время на контент, чтобы вы сфокусировались на продвижении и продажах 😉</i>
                        <br><br>
                        Заполнив эту анкету, вы получите лучшие условия и цену 😇
                    </div>
                </div>
            </div>
            <div class="field_list" role="list">
                {% for field in medblogers_form %}
                    <div class="field_item_container" role="listitem">
                        <div class="field_inline_item_container" id="field_inline_item_container_{{ field.name }}">
                            <div class="field_item_label_container">
                                <div class="field_item_label">
                                    <div class="field_item_label_text">
                                        {% if field.name != "policy_agreement" %}
                                            {{ field.label }}
                                        {% else %}
                                            Согласен с
                                            <a href="https://docs.google.com/document/d/1gwotwzPEN-fYGmfrnhLP1KvnhTkHmw6IK3quQukhw_8/edit"
                                               target="_blank">политикой обработки персональных данных</a>
                                        {% endif %}
                                        <span class="required_star">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="field_item_input_container">
                                <div class="field_item_input">
                                    <div class="field_item_input_inline">
                                        <div class="input_container {% if field.name == "level_of_use_neuro" %}full_width{% endif %}">
                                            <div class="radio-button-container">
                                                {% if field.name == "level_of_use_neuro" %}
                                                    <div class="zero_to_ten_choices_container">
                                                        <div class="left_text">
                                                            <span>Ничего не понимаю</span>
                                                        </div>
                                                        {% for value, label in field.field.choices %}
                                                            <div class="radio-button">
                                                                <input type="radio" class="radio-button__input"
                                                                       id="{{ field.name }}_{{ value }}"
                                                                       name="{{ field.name }}" value="{{ value }}"
                                                                       {% if field.value == value %}checked{% endif %}>

                                                                <label class="radio-button__label radio-button__label_0_10"
                                                                       for="{{ field.name }}_{{ value }}">
                                                                    <span>{{ label }}</span>
                                                                    <span class="radio-button__custom"></span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                        <div class="right_text">
                                                            <span>Регулярно пользуюсь</span>
                                                        </div>
                                                    </div>
                                                {% elif field.name == "policy_agreement" %}
                                                    {{ field }}
                                                    <div class="radio-button-container">
                                                        <div class="radio-button">
                                                            <input type="radio" class="radio-button__input" id="radio"
                                                                   name="radio-group">
                                                            <label class="radio-button__label" for="radio">
                                                                <span class="radio-button__custom"></span>
                                                                да
                                                            </label>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    {{ field }}
                                                {% endif %}
                                                <div class="line"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field_item_warning_container">
                                <div class="field_item_warning">
                                    <img src="{% static "img/warning.svg" %}">
                                    <span class="warning_text">Это обязательный вопрос.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="buttons_container">
                <div class="buttons_inline_container">
                    <div class="submit_container">
                        <div class="submit_button" role="button">
                        <span class="submit_text_container">
                            <span class="submit_text">
                                Отправить
                            </span>
                        </span>
                        </div>
                    </div>
                    <div class="clear_container">
                        <div class="clear_inline_container" role="button">
                            <span class="clear_button">
                                <span class="clear_button_text">Очистить форму</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}