{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block title %}
    Спасибо !
{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static "css/spasibo_medbloger.css" %}">
    <link rel="stylesheet" href="{% static "css/pink_form.css" %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="header_image_container">
            <img src="{{ business_form_settings.spasibo_photo.url }}">
        </div>
        <div class="inline_container">
            <div class="description_container_header_cap"></div>
            <div class="">
                Спасибо за анкету, теперь вступайте в наш организационный чат <a href="https://t.me/+nPrd_-JXRR82ZGEy"
                                                                                target="_blank">https://t.me/+nPrd_-JXRR82ZGEy</a>
                , в котором будет вся инфа о дальнейших действиях 🔥
            </div>
        </div>
    </div>
{% endblock %}