{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block title %}
    Спасибо !
{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static "css/spasibo_medbloger.css" %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="header_image_container">
            <img src="{{ business_form_settings.spasibo_photo.url }}">
        </div>
        <div class="inline_container">
            <div class="description_container_header_cap"></div>
            <div class="">
                Спасибо за заполнение 😎
                <br><br>
                Если хотите связаться с нами побыстрее, напишите <a href="https://t.me/m/PdJSpnQKMzJi">сюда</a> слово SMM
            </div>
        </div>
    </div>
{% endblock %}