{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>

    {% block extra_scripts %}
    {% endblock %}


    {% block title %}
    {% endblock %}

    {% block extra_links %}
    {% endblock %}

    <style>
        {% block extra_styles %}
        {% endblock %}
    </style>

</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>